<div class="sidebar-widget widget">
  <div class="widget-header">
    <h4 class="widget-title"><i class="fa fa-sort-amount-desc"></i> Archives</h4>
  </div>
  <div class="widget-content">
    <% @archives.sort.each do |month, archived| %>
     <p class="lead"><%= month.strftime('%B %Y') %></p>
     <ul class="list-unstyled" >
        <% archived.take(6).each do |archive| %>
          <li class="item">
           <%= link_to "#{archive.title}", article_path(archive) %>
          </li>
        <% end %>
      </ul> 
    <% end %>
   
  </div>
</div>