<div class="sidebar-widget widget">
  <div class="widget-header">
    <h4 class="widget-title"><i class="fa fa-sort-amount-desc"></i> Archives</h4>
  </div>
  <div class="widget-content">
    <% @archives.sort.each do |month, archived| %>
     <p class="lead"><%= month.strftime('%B %Y') %></p>
     <ul class="list-unstyled" >
        <% archived.take(6).each do |archive| %>
          <li>
           <i class="fa fa-file-text-o"></i> <%= link_to "#{archive.title}", article_path(archive) %>
           <small> <%= archive.created_at.to_date.to_s(:short) %></small>
          </li>
        <% end %>
      </ul> 
    <% end %>
    <%= link_to 'Visit Blog Archives >>', archives_path, :class=>'btn btn-sm btn-primary btn-block btn-widget' %>
  </div>
</div>