<h1>Thanks for subscribing</h1>
<p class="lead">Ruby on Rails tips and tricks are on the way!</p>
<p>
	<%= link_to 'Go back to home page', root_path, :class=>'btn btn-block btn-primary btn-lg' %>
</p>