<div class="row">
	<div class="col-md-8 offset-md-2 col-xs-12">
		<% breadcrumb :tags, @tags %>

		<h1><%= site_title %> Tags</h1>

		<ul class="tags">
		  <% @tags.each do |tag| %>
		    <li>
		      <%= link_to tag.name, tag_path(tag) %>
		    </li>
		  <% end %>
		</ul>

		<%= will_paginate @tags, renderer: BootstrapPagination::Rails %>
	</div>
</div>
	
