ul{
	list-style-position: inside;
}

.wrapper.full{
	padding:0;
	margin-top:-64px;

	.bio,.intro,.features,.source,.info{
		padding:48px;
		min-height:350px;

		.lead{
			font-weight:700;
		}
	}

	.bio{
		background:#000;
		color:#fff;

		.lead{
			color:#FFD740;
		}
	}

	.source{
		background:#eee;
	}

	.info{
		padding: 64px 24px;
	}

	.features{
		list-group-item.lead{
			font-weight:normal;
		}
	}
}

.btn-primary{
	background-color:#D50000;
	border:none;
}


header{
	background:#000;
	color:#FFD740;

	h2,h3{
		font-size:1.5rem;
		color:#fff;
	}

	a{
		color:#FFD740;

		&:hover{
			color:#FFD740;
		}
	}
}

footer {
  background-color: #0277BD;
  color:#fff;
}

.nav-social{
	background:#039BE5;

	.fa{
		font-size:1rem;
		color:#fff;
	}

}

.breadcrumbs{
    border-radius: 4px;
    padding: 6px 12px;
    margin: 48px 0;
    color: #888;
    font-size: .9rem;
}

.widget{
	margin:24px 24px 48px;

	.widget-header{
		background:#333;
		color:#fff;
		padding: 12px 0;
		margin-bottom:12px;
		line-height:1.6em;

		.widget-title{
			text-transform:uppercase;
			text-align:center;
		}
	}

	.item{
		font-size:.8rem;
	}

	.lead{
		font-weight:600;
		font-size:.8rem;
	}

	li{
		border-bottom:1px dotted #333;
		padding:12px 0;

		&:last-of-type{
			border-bottom:none;
		}
	}

	.btn-widget{
		background-color:transparent;
		color:inherit;
		border:none;
		text-decoration:underline;
		font-weight:700;
	}
}

.comment-tabs{
	margin-top:48px;
	border-top:1px solid #333;
	padding-top:24px;

	h4{
		margin-bottom:24px;
	}
}

.article-meta{
	font-size:.89rem;
	margin-bottom:24px;
}


.post{
	margin-top:48px;
	line-height:2em;
	font-size:1.1em;

	&.page{
		font-size:1.4rem;
	}

	img{
		margin:48px 0;
	}

	.post-title{
		text-transform:capitalize;
	}

	.badge a{
		color:#000;
		font-weight:600;
	}
}

.items-list{
	margin:48px 0;

	.fa{
		margin-right:12px;
	}
}

.tags {
	margin:24px 0;
	a{
		border:1px solid #DDD;
		display:inline-block;
		color:#717171;
		background:#FFF;
		-webkit-box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);
		box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);
		-webkit-transition:all .1s ease-in-out;
		-moz-transition:all .1s ease-in-out;
		-o-transition:all .1s ease-in-out;
		-ms-transition:all .1s ease-in-out;
		transition:all .1s ease-in-out;
		border-radius:2px;
		padding:5px 10px
		}
	.tags a:hover{
		border-color:#08C;
		}
	.tags a.primary{
		color:#FFF;
		background-color:#428BCA;
		border-color:#357EBD;
		}
	.tags a.success{
		color:#FFF;
		background-color:#5CB85C;
		border-color:#4CAE4C;
		}
	.tags a.info{
		color:#FFF;
		background-color:#5BC0DE;
		border-color:#46B8DA;
		}
	.tags a.warning{
		color:#FFF;
		background-color:#F0AD4E;
		border-color:#EEA236;
		}
	.tags a.danger{
		color:#FFF;
		background-color:#D9534F;
		border-color:#D43F3A;
		}
}