// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html,
body {
  height: 100%;
  margin:0;
  padding:0;
}

body {
  line-height:2em;
}

.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto 60px;
  padding: 0 24px 60px;
}

header{
	margin-bottom:64px;

	
}

footer {
  height: 60px;
  margin-top:60px;
  line-height:60px;
  width: 100%;

  p{
    margin:0;
  }
}

.single-spacing {
  ul br {
    display: none;
  }
}

.article-index-header{
  background:#0277BD;
  padding: 50px 0;

  .lead{
    color:#fff;
  }

  .btn-primary{
    background-color:#FFD54F;
    color:#444;
  }
}

.bg-faded,.navbar-light .navbar-brand, .navbar-light .navbar-toggler,.navbar-light .navbar-nav .nav-link {
    background-color: #01579B;
    color:#FAFAFA;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    color: #fff;
    background:#039BE5;
    padding: 6px 8px;
    border-radius: 2px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover, .navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #FFD54F;
}

.badge-info {
    background-color: #fff;
    border: 1px solid #0277BD;
}