<% provide(:page_title, 'Category Home') %>

<div class="row">
	<div class="col-md-8 offset-md-2 col-xs-12">
		<% breadcrumb :categories, @categories %>

		<h1>Categories</h1>
		<hr/>
		<div class="row">
		  <% @categories.each do |category| %>
		  <div class="col-md-4 col-sm-12">
		      <%= link_to category_path(category)do %>
			      <div class="card text-center">
			      	<div class="card-block">
						    <h4 class="card-title"><%= category.name %>
						    	<small>
						    		(<%= category.articles.where(status: 'Published').where(visibility: 'Public').count %>)</small>
						    	</h4>
						  </div>
						</div>
		      <% end %>
		      </div>
		  <% end %>
		</div>
		
	</div>
</div>
