<div class="row">
	<div class="col-md-8 offset-md-2 col-xs-12">
		<% breadcrumb :categories, @categories %>
		<h1><%= site_title %>  Categories</h1>

		<ul id="categories">
		  <% @categories.each do |category| %>
		    <li>
		      <%= link_to category.name, category_path(category) %>
		    </li>
		  <% end %>
		</ul>

		<%= will_paginate @categories, renderer: BootstrapPagination::Rails %>

		<%= link_to "Add new category", new_category_path, :class=>'btn btn-primary' %>
	</div>
</div>
